/*Global*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); /*Poppins*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 90%;
    margin: 0 auto;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*Header*/
.header-container{
    transition: 0.3s;
    background-color: black;
}
.header-sticky{
    position: sticky;
    top: 0;
    background-color: white;
    transition: 0.3s;
    border-bottom: 3px solid #01A0C2;
    z-index: 5;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.logo{
    color: #01A0C2;
    flex: 2;
    font-size: 22px;
}
.header-link{
    color: white;
    text-decoration: none;
    position: relative;
    padding: 0px 10px 10px 10px;
}
.link-black{
    color: black
}
.header-link::after{
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #01A0C2;
    transition: cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
}
.header-link:hover::after{
    width: 100%;
}
nav{
    flex: 1;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.burger{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: none;
}
.burger div{
    height: 3px;
    width: 30px;
    margin-top: 5px;
    background-color: white;
    border-radius: 40px;
}

/*Hero*/
.hero{
    height: 100vh;
    background-color: #000;
}

.hero::after {
    content: '';
    position: absolute;
    top: 110vh;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: white;
    transform: rotate(7deg) translateX(-15px);
}

.main-hero-content{
    padding-top: 150px;
    display: flex;
    align-items: center;
}
.hero-text{
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.hero-text h1{
    font-size: 40px;
    background: linear-gradient(to right, #01A0C2, white 40%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.hero-text p{
    margin-top: 40px;
    font-size: 20px;
}
.hero-image{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.hero-image img{
    height: 100%;
    width: 100%;
}
.hero-btn button{
    margin-top: 30px;
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: #01A0C2;
    color: white;
    text-align: center;
    font-size: 20px;
    transition: 0.3s;
}
.hero-btn button:active{
    transform: scale(0.7);
    cursor: pointer;
}
/*Extend*/
.extend{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ext-txt{
    width: 50%;
}
.ext-txt h2{
    position: relative;
}
.ext-txt h2::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #01A0C2;
}
.extend2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    height: 90vh;
}

/*Main Grid*/

.main-grid{
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1em;
}
.grid-item-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item-header i{
    font-size: 25px;
    margin-right: 10px;
    color: #01A0C2;
}
.main-grid .grid-item{
    background-color: rgb(234, 242, 245);
    padding: 1em;
    border-radius: 20px;
}
.laptops{
    grid-column: 1/3;
}
.tvs{
    grid-row: 2/4;
}
.phones{
    grid-column: 1/2;
    grid-row: 2/3;
}

.fal{
    font-size: 50px;
}
/*Footer*/
footer{
    margin-top: 100px;
    text-align: center;
    background-color: #01A0C2;
    color: white;
    padding: 20px;
}
/*Responsive*/
@media only screen and (max-width: 600px){
    /*Header*/
    html, body{
        overflow-x: hidden;
        position: relative;
    }
    .logo{
        font-size: 16px;
    }
    .burger{
        display: block;
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        z-index: 5;
    }
    .nav-links{
        position: absolute;
        top: 0px;
        right: 0;
        flex-direction: column;
        height: 100vh;
        background-color: #01A0C2;
        width: 100%;
        align-items: center;
        transform: translateX(100%);
        transition: cubic-bezier(0.23, 1, 0.320, 1) 0.3s;
        justify-content: space-around;
    }
    .nav-active{
        transform: translateX(0%);
        transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
    }
    .header-link{
        font-size: 20px;
    }
    /*Hero*/
    .hero{
        height: 700px;
    }
    .main-hero-content{
        flex-direction: column;
        align-items: center;
    }
    .hero-text{
        align-items: center;
    }
    .hero-h1 {
        text-align: center;
    }
    .hero-text p{
        text-align: center;
    }
    .hero-image{
        display: none;
    }
    /*Extend*/
    .extend {
        flex-direction: column;
    }
    .extend2 {
        flex-direction: column;
        height: 500px;
    }
    .extend-image {
        height: 300px;
    }
    .extend-image2 {
        height: 100px;
    }
    .ext-txt {
        text-align: center;
    }
    /*Main Grid*/
    .main-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .grid-item{
        width: 80%;
    }
}
